RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# if a directory or a file exists, use it directly

# otherwise forward it to index.php
RewriteRule . index.php